asgiref
cachetools
certifi
defusedxml
dj-database-url
Django
django-allauth
django-rest-auth
djangorestframework
Pillow
pyparsing
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
gunicorn
jazzmin
